{% extends 'main/main_basic.html' %}
{% load static %}
<!-- START head -->
{% block title %} {{ title }} {% endblock %}
<!-- END head -->

<!--<header>-->
<!-- START NAV -->

{% block header %}
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="{% url 'portfolio_home' %}" class="nav-link link-dark px-2">Kira
                    Moshkova</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#welcome-section" class="nav-link link-dark px-2">About</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link link-dark px-2">Workp</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Resume</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link link-dark px-2">Contact</a></li>
            </ul>
        </div>
</nav>
<!--</header>-->
<!-- END NAV -->
{% endblock %}

<!-- START WELCOME SECTION -->
{% block content %}
<section id="welcome-section" class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Hi, I am Kira</h1>
            <h1 class="lead text-muted">Hi, I am Kira</h1>
            <p class="lead text-muted">I'm a backend developer and this is my first website</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>
<!-- END WELCOME SECTION -->

<!-- START PROJECTS SECTION -->
<section id="projects" class="projects-section">
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">These are some of my projects</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for p in projects %}
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2"/>
                        {% if p.skill.title == 'Python' %}
                        <img class="icon" src="{% static python %}" alt="python logo">
                        {% elif p.skill.title == 'JavaScript' %}
                        <img class="icon" src="{% static javascript  %}" alt="JavaScript logo">
                        {% elif p.skill.title == 'NodeJS' %}
                        <img class="icon" src="{% static nodejs  %}" alt="NodeJS logo">
                        {% elif p.skill.title == 'HTML/CSS' %}
                        <img class="icon" src="{% static html_css  %}" alt="html css logo">
                        {% endif %}
                    </svg>
                </div>
                <div>
                    <h2>{{ p.title }}</h2>
                    <p>{{ p.summary }}</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">
                        View
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- END PROJECTS SECTION -->

<!-- START CONTACT SECTION -->
<section id="contact" class="contact-section">
    <div class="contact-section-header">
        <h2>Let's work together...</h2>
    </div>
    <div class="contact-links">
        <a
                href="https://facebook.com/freecodecamp"
                target="_blank"
                class="btn contact-details"
        ><i class="fab fa-facebook-square"></i> Facebook</a
        >
        <a
                id="profile-link"
                href="https://github.com/freecodecamp"
                target="_blank"
                class="btn contact-details"
        ><i class="fab fa-github"></i> GitHub</a
        >
        <a
                href="https://twitter.com/freecodecamp"
                target="_blank"
                class="btn contact-details"
        ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="mailto: kira.moshkova@gmail.com" class="btn contact-details"><i
                class="fas fa-at"></i> Send a mail</a
        >
        <a href="tel:+420-776-443-019" class="btn contact-details"
        ><i class="fas fa-mobile-alt"></i> Call me</a
        >
    </div>
</section>
{% endblock %}
<!-- END CONTACT SECTION -->

<!-- START FOOTER SECTION -->
<!-- END FOOTER SECTION -->






