{% extends 'main/main_basic.html' %}

{% block title %} {{ title }} {% endblock %}

{% block album%}
<div class="container">
    <div class="d-flex align-items-end justify-content-end pt-2">
        <a href="{% url 'taskboard_home' %}">
            <button type="button" class="btn-close float-right" aria-label="Close"></button>
        </a>
    </div>
    <div class="col-md-7 col-lg-6 forms_pos">
        <h4 class="mb-3">{{ title }}</h4>
        <form method="post" class="needs-validation" novalidate>

            {% csrf_token %}
            {{ form.context }}<br>
            <br>
            {{ form.deadline_day }}<br>
            <br>
            {{ form.deadline_time }}<br>
            <br>
            {{ form.created_on }}
            <br>
            <span>{{ error }}</span>
            <br>
            <p class="pb-3">
                <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane"></i>Save</button>
            </p>

        </form>
    </div>
</div>
{% endblock %}