{% extends 'main/main_basic.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block todo_addnew %}
<div class="container bg-light">
    <div class="text-center mb-3">
        <a href="{% url 'create_task' %}" class="text-dark text-decoration-none">
            <button type="button" class="btn btn-default">
                <img class="icon_new" src="{% static 'img/add.ico' %}">New task
            </button>
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<p class="card-text"> {{el.context}}</p>
<p class="card-text"> Deadline day: {{el.deadline_day}}</p>
<p class="card-text"> Deadline time: {{el.deadline_time}}</p>

<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">

        <a href="{{ el.get_absolute_url }}"><img class="icon_new"
                                                 src="{% static 'img/edit.ico' %}"
                                                 alt="edit logo"></a>
    </div>
</div>

{% endblock %}
