{% extends 'links/links_home.html' %}

{% block title %} {{ title }} {% endblock %}

{% block album%}
{% if object %}
<div class="container">
    <h3>{{ object }}</h3>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete object
            <p class="text-nowrap bg-light border">{{ object }} ?</p>
        </p>
        <button class="btn btn-warning mb-5 mt-5" type="submit">Yes, delete</button>
        <a href="{% url 'links_home' %}">
            <button class="btn btn-warning mb-5 mt-5">No</button>
        </a>
    </form>
</div>
{% endif %}
{% endblock %}