{% extends 'main/main_basic.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap">

        <a href="{% url 'create_link' %}"
           class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <button type="button" class="btn btn-default"><img class="icon" src="{% static 'img/add.ico' %}">New
                link
            </button>
        </a>
        <span class="fs-4">Weather</span>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>
{% endblock %}

{% block album %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--START SIDEBARE-->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
                <!--                <span class="fs-4">{{ title }}</span>-->
                <span class="fs-4">Categories</span>
                 <ul class="nav nav-pills flex-column mb-auto">
                    {% for cat in categories %}
                    <li class="nav-item">
                        <a href="{{ cat.get_absolute_url }}" class="nav-link text-muted" aria-current="page">
                            {{ cat.title }}
                        </a>
                    </li>
                    {% endfor%}
                </ul>
                <hr>
            </div>
        </div>
        <!--END SIDEBAR-->
        <!-- START LINKS SECTION -->
        <div class="col py-3">
            <section>
                <div class="album py-5 bg-light">
                    <div class="container">
                        {% block link_details %}
                        <h3 class="fw-light">{{ title }}</h3>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                            {% for l in links %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-body">

                                        <h3>{{l.title}}</h3>
                                        <p class="card-text"> Subcategory: {{l.sub_category}}</p>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ l.get_absolute_url }}"><img class="icon"
                                                                                        src="{% static 'img/edit.ico' %}"
                                                                                        alt="edit logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- END LINKS SECTION -->
    </div>
</div>
{% endblock %}

