{% extends 'main/main_basic.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block album %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--START SIDEBARE-->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
                <h3>Categories</h3>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for cat in categories %}
                    <li class="nav-item ">
                        <a href="{{ cat.get_absolute_url }}" id="cathover" class="nav-link text-muted"
                           aria-current="page">
                            {{ cat.title }}
                        </a>
                    </li>
                    {% endfor%}
                </ul>
                <hr>
            </div>
        </div>
        <!--END SIDEBAR-->
        <!-- START LINKS SECTION -->
        <div class="col py-3">
            <section>
                <div class="album py-5 bg-light">
                    <div class="container">
                        {% block link_details %}
                        <h3>{{ title }}</h3>
                        <div class="container bg-light">
                            <div class="text-center mb-3">
                                <a href="{% url 'create_link' %}" class="text-dark text-decoration-none">
                                    <button type="button" class="btn btn-default">
                                        <img class="icon_new" src="{% static 'img/add.ico' %}">New link
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                            {% for l in page_obj %}
                            <div class="col">
                                <div class="card shadow-sm text-center border-dark" style="background-color: #C1E1C1;">
                                    <div class="card-body">
                                        <h3>{{l.title}}</h3>
                                        <p class="card-text">
                                            Category: {{l.category}}
                                            <br />
                                            Subcategory: {{l.sub_category}}
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{{ l.get_absolute_url }}"><img class="icon_new"
                                                                                        src="{% static 'img/edit.ico' %}"
                                                                                        alt="edit logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container text-center mb-3 mt-3">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ elements.previous_page_number }}">{{page_obj.previous_page_number}}</a>
        </li>
        {% endif %}

        <li class="page-item "><a class="page-link" href="#">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

