{% extends 'blog/blog_home.html' %}
{% load static %}

{% block album %}
<div class="container py-3 col d-flex justify-content-center">
    <div class="card mb-10" style="width: 35rem;">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">Posted: {{blog.pub_date_pretty}}</p>
            <p class="card-text">Posted: {{blog.body}} </p>
        </div>
        {% if blog.image %}
        <img src="{{blog.image.url}}" class="card-img-bottom" alt="city photo">
        {% endif %}

    </div>
</div>
{% endblock %}

{% block recent_blogs %}
{% endblock recent_blogs%}