{% extends 'main/main_basic.html' %}
{% load static %}
{% load blog_tags %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
{% get_all_cities as cities %}

<nav class="py-2 border-bottom " style="background-color: #e3f2fd;">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'blog_home' %}" class="nav-link link-dark px-2">All posts</a></li>
            {% for c in cities %}
            <li class="nav-item"><a href="{{c.get_absolute_url}}" class="nav-link link-dark px-2">{{c}}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav">
            {% for w in all_cities %}
            <li class="nav-item ms-2">{{ w.city }}:{{ w.temp }}<sup>o</sup><img
                    src="http://openweathermap.org/img/w/{{w.icon}}.png" alt="weather icon"></li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <a href="{{ el.get_absolute_url }}" class="text-decoration-none text-muted">
            <div class="container d-flex flex-wrap">
                {% if el.image %}
                <img class="image-fluid" src="{{el.image.url}}" height=200 width=200>
                {% endif %}
                <h3> {{el.title}}</h3>
                <ul>
                    <p> {{el.pub_date_pretty}}</p>
                    <p> {{el.summary}}</p>
                </ul>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block recent_blogs %}

<div class="container text-center mb-3 mt-3">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ elements.previous_page_number }}">{{page_obj.previous_page_number}}</a>
        </li>
        {% endif %}

        <li class="page-item "><a class="page-link" href="#">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<div class="container pb-2 border-top">
    <h2>Latest blogs</h2>
    <hr>
    {% for b in page_obj %}
    {% if b.was_published_recently %}

    <h4> {{b.title}}</h4>
    <ul>
        <p> {{b.pub_date_pretty}}</p>
        <p> {{b.summary}}</p>
    </ul>
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock recent_blogs%}