{% extends 'main/main_basic.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content%}
        <div class="feature">
            <h1>{{ title }}</h1>
            <p>This site is the place for my projects. You can find several different ones at the links below. </p>
            <button class="btn btn-danger">Move to the projects</button>
        </div>
         <div class="feature">
             <button class="btn btn-danger">Move to the projects</button>
         </div>
{% endblock %}

